name: Build and Test Matrix

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule: # Build every day at 5PM UTC
    - cron: '0 17 * * *'

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -C instrument-coverage
  LLVM_PROFILE_FILE: pigg-%p-%m.profraw
  RUST_BACKTRACE: 1
  GH_TOKEN: ${{ github.token }}

jobs:
  build-and-test-matrix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-15 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - uses: Swatinem/rust-cache@v2

      - name: Install dependencies - Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt install libdbus-1-dev pkg-config

      - name: debug build
        run: cargo build

      - name: CHeck release build via publish dry-run
        run: cargo publish --dry-run

      - name: test - non-Linux
        if: runner.os != 'Linux'
        run: cargo test

      - name: test - Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install weston
          weston -Bheadless -Sweston &
          sudo apt install libdbus-1-dev pkg-config
          cargo test
        env:
          WAYLAND_DISPLAY: weston